<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WQQuickSearchFileManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84AEBD8C1E5D3627001684BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84AEBDA51E5D3627001684BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84AEBDB01E5D3627001684BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
